<nav class="navbar navbar-expand-lg bg-sudama-dark py-3">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center text-white" href="/">
            <img src="{{ .Site.Params.logo }}" alt="{{ T " site_logo_alt" }}" width="40" height="40"
                class="d-inline-block align-text-top">
            <span class="fw-bold">Sudama Health</span>
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a {{ if .IsHome }} class="nav-link active" aria-current="page" {{ else }} class="nav-link" {{
                        end }} href="/{{ .Language.Lang }}/">{{ T "home" }} </a>
                </li>
                <li class="nav-item">
                    <a {{ if or (eq .RelPermalink (printf "/%s/services/" .Language.Lang)) (eq .RelPermalink (printf "/%s/services" .Language.Lang)) }} class="nav-link active"
                        aria-current="page" {{ else }} class="nav-link" {{ end }} href="/{{ .Language.Lang }}/services">{{ T "services" }}</a>
                </li>
                <li class="nav-item">
                    <a {{ if or (eq .RelPermalink (printf "/%s/mission/" .Language.Lang)) (eq .RelPermalink (printf "/%s/mission" .Language.Lang)) }} class="nav-link active"
                        aria-current="page" {{ else }} class="nav-link" {{ end }} href="/{{ .Language.Lang }}/mission">{{ T "mission" }}</a>
                </li>
                <li class="nav-item">
                    <a {{ if or (eq .RelPermalink (printf "/%s/packages/" .Language.Lang)) (eq .RelPermalink (printf "/%s/packages" .Language.Lang)) }} class="nav-link active"
                        aria-current="page" {{ else }} class="nav-link" {{ end }} href="/{{ .Language.Lang }}/packages">{{ T "lab_test_packages"
                        }}</a>
                </li>
                <li class="nav-item">
                    <a {{ if or (eq .RelPermalink (printf "/%s/careers/" .Language.Lang)) (eq .RelPermalink (printf "/%s/careers" .Language.Lang)) }} class="nav-link active"
                        aria-current="page" {{ else }} class="nav-link" {{ end }} href="/{{ .Language.Lang }}/careers">{{ T "careers" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank"
                        href="https://wa.me/918123686585?text=I%20want%20to%20book%20an%20appointment%20at">{{ T
                        "book_an_appointment" }}</a>
                </li>
                <li class="nav-item ms-3">
                    {{ partial "language-selector.html" . }}
                </li>
            </ul>
        </div>
    </div>
</nav>