 <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-background">
    <div class="container-fluid">
        {{ if ne .Path "/"}}
        <a class="navbar-brand" href="/">
            <img src="{{ .Site.Params.logo }}" alt="{{ T " site_logo_alt" }}"
                width="40" height="40" class="d-inline-block align-text-top">
            Sudama Health
        </a>
        {{ end }}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a {{ if ne .Path "/"}} class="nav-link" {{ else }}
                        class="nav-link active" aria-current="page" {{ end
                        }}
                        href="/{{ .Language.Lang }}/">{{ T "home" }} </a>
                </li>
                <li class="nav-item">
                    <a {{ if ne .Path "/packages"}} class="nav-link" {{ else
                        }}
                        class="nav-link active" aria-current="page" {{ end
                        }}
                        href="/{{ .Language.Lang }}/packages">{{ T
                        "lab_test_packages" }}</a>
                </li>
                <li class="nav-item">
                    <a {{ if ne .Path "/careers"}} class="nav-link" {{ else
                        }}
                        class="nav-link active" aria-current="page" {{ end
                        }}
                        href="/{{ .Language.Lang }}/careers">{{ T
                        "careers" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank"
                        href="https://wa.me/918123686585?text=I%20want%20to%20book%20an%20appointment%20at">{{
                        T "book_an_appointment" }}</a>
                </li>
            </ul>
            {{ partial "language-selector.html" . }}
        </div>
    </div>
</nav>