<!DOCTYPE html>
<html>

    <head>
        <title>{{ .Title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet">
        {{ partial "head.html" . }}
    </head>

    <body>
        {{ partial "navbar.html" .}}

        <div class="container-fluid background text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <header class="mb-auto text-shadow">
                            <h1 class="mt-5"><u>{{ .Title }}</u></h1>
                        </header>
                    </div>
                </div>
                <div class="row justify-content-center pt-5 m-2">
                    <div class="col-md-8 col-lg-7 content-background">
                        {{ .Content }}
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="card text-white bg-dark">
                            <div class="card-body">
                                <h5 class="card-title">{{ i18n "apply_now" }}</h5>
                                <p class="card-text">{{ i18n "interested_in_this_position" }}</p>
                                <a href="{{.Params.Apply_Link}}" class="btn btn-primary">{{ i18n "apply_now" }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {{ partial "footer.html" . }}
            {{ partial "scripts.html" . }}

        </body>

    </html>