<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Sudama Health - A telemedicine clinic offering expert doctor consultations, diagnostic tests, and medicine delivery in Bangalore" />
    <title>{{ .Title }}</title>
    {{ partial "head.html" . }}
</head>

<body>

    {{ partial "navbar.html" . }}

    <section class="bg-sudama-light">
        <div class="container-fluid p-0 intro">
            <div class="row g-0">
                <div class="col-lg-6 mb-5 mb-lg-0 intro-text d-flex flex-column justify-content-center">
                    <h1 class="display-5 text-sudama-dark mb-4">{{ .Params.hero.title }}</h1>
                    <a href="https://wa.me/918123686585?text=I%20want%20to%20book%20an%20appointment%20at"
                        target="_blank" class="btn btn-sudama-dark btn-lg w-100">{{ .Params.hero.button_text }}</a>
                </div>
                <div class="col-lg-6 text-end p-0 intro-image">
                    <img src="/images/consultation_in_progress.png" alt="Hero Illustration"
                        class="img-fluid w-100 h-100" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-sudama-dark text-white py-5">
        <div class="container text-center pt-5">
            <h2 class="mb-5 py-5">{{ .Params.services.title }}</h2>
            <div class="row justify-content-center">
                {{ range .Params.services.items }}
                <div class="col-md-3 col-6 mb-4 p-2">
                    <i class="bi {{ .icon }} service-icon"></i>
                    <h5>{{ .title }}</h5>
                </div>
                {{ end }}
            </div>
            <div class="mt-4 pb-5">
                <a href="/{{ .Language.Lang }}/services" class="btn btn-sudama-light w-100">{{
                    .Params.services.button_text }}</a>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container-fluid p-0 clinics">
            <div class="row g0">
                <div class="col-lg-6 text-start p-0 intro-image">
                    <img src="/images/consultation_room.png" alt="Clinic Illustration" class="img-fluid rounded">
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0 intro-text d-flex flex-column justify-content-center">
                    <h2 class="text-sudama-dark mb-4">{{ .Params.clinics.title }}</h2>
                    <a href="https://maps.app.goo.gl/wXxL9KoXaGhuy1f16" target="_blank"
                        class="btn btn-sudama-dark btn-lg w-100">{{ .Params.clinics.button_text }}</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-sudama-dark text-white py-5">
        <div class="container text-center py-5">
            <h2 class="mb-5 pt-5">{{ .Params.stats.title }}</h2>
            <div class="row justify-content-center align-items-center">
                {{ range .Params.stats.items }}
                <div class="col-md-5 mb-4 mb-md-0 d-flex align-items-center justify-content-center gap-3 text-start">
                    <i class="bi {{ .icon }} stats-icon"></i>
                    <div>
                        <h3 class="fw-bold mb-0 display-6">{{ .value }}</h3>
                        <h5 class="mb-0">{{ .text }}</h5>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="mt-5 pb-5">
                <a href="/{{ .Language.Lang }}/mission" class="btn btn-sudama-light w-100">{{ .Params.stats.button_text
                    }}</a>
            </div>
        </div>
    </section>
    <!-- 
    <section class="py-5 text-center">
        <div class="container">
            <h2 class="text-sudama-dark mb-4">{{ .Params.team.title }}</h2>
            <div class="d-flex justify-content-center gap-3 mb-5">
                {{ range .Params.team.buttons }}
                <button class="btn btn-sudama-dark">{{ .text }}</button>
                {{ end }}
            </div>
            <img src="{{ .Params.team.image }}" alt="Team Illustration" class="img-fluid">
        </div>
    </section> -->

    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
</body>

</html>