<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    <meta name="description"
        content="Sudama Health - A telemedicine clinic offering expert doctor consultations, diagnostic tests, and medicine delivery in Bangalore" />
    <title>Sudama Health - Telemedicine Clinic</title>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/css/style.css" />
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

    {{ partial "navbar.html" . }}
    <div class="d-flex h-100 text-center text-white bg-dark background">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto text-shadow">
                <img src="{{ .Site.Params.logo }}"
                    class="bd-placeholder-img bd-placeholder-img-lg d-inline-block align-top"
                    width="200" height="200" alt="{{ T " site_logo_alt" }}">
                <h1 class="name">{{ .Title }}</h1>
            </header>

            <main class="px-3 mx-auto text-shadow">
                <!-- English Content -->
                <div lang="en">
                    <h2>{{ T "your_health_companion"}}</h2>
                    <h5 class="message">{{ T
                        "professional_healthcare_near_you"}}</h5>


                    <ul class="services">
                        <li><i class="fa fa-user-md"></i> {{ T "services_doctor"
                            }}</li>
                        <li><i class="fa fa-flask"></i> {{ T "services_lab" }}
                        </li>
                        <li><i class="fa fa-medkit"></i> {{ T
                            "services_medicine" }}</li>
                    </ul>


                    <div class="location-container">
                        <h4><i class="fa fa-map-marker"></i> &nbsp;{{ T
                            "location_title" }}</h4>
                        {{ .Content }}
                    </div>


                    <div class="map-container">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.636807252739!2d77.7117653!3d12.802070899999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6d7c772513d9%3A0x26b076056ef1e941!2sSudama%20Clinic!5e0!3m2!1sen!2sin!4v1732106397393!5m2!1sen!2sin"
                            style="border: 0" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="map-links">
                        <div lang="en">
                            <a href="https://maps.app.goo.gl/9HGFySTM9XsnUCY77"
                                target="_blank" class="map-link">
                                <i class="fa fa-map"></i> {{ T "view_on_maps" }}
                            </a>
                            <a href="https://www.google.com/maps/dir/Sudama+Clinic,+02,+Lakshmisagara+Rd,+opp.+Svr+Medicals,+Hale,+Chandapura,+Bengaluru,+Bommasandra,+Karnataka+560099/''/@12.8021514,77.6705659,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x3bae6d7c772513d9:0x26b076056ef1e941!2m2!1d77.7117653!2d12.8020709!1m5!1m1!1s0x3bae6d7c772513d9:0x26b076056ef1e941!2m2!1d77.7117653!2d12.8020709!3e3?hl=en&entry=ttu&g_ep=EgoyMDI0MTExNy4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank" class="map-link">
                                <i class="fa fa-location-arrow"></i> {{ T
                                "get_directions" }}
                            </a>
                        </div>
                    </div>

                    <a href="https://wa.me/918123686585?text=I%20want%20a%20doctors%20appointment%20at"
                        target="_blank" class="WhatsappLink">
                        <div lang="en">
                            <button
                                class="btn btn-primary d-block mx-auto btnWhatsapp"
                                lang="en">
                                <i class="fa fa-whatsapp"
                                    style="font-size: 24px"></i> &nbsp;{{ T
                                "whatsapp_button" }}
                            </button>
                        </div>
                    </a>

                    <!-- <a href="{{ .Site.Params.whatsapp_link }}" class="whatsapp-link">
                <button>{{ T "whatsapp_button" }}</button> -->
                    </a>
            </main>


            {{ partial "footer.html" . }}
        </div>
    </div>

    {{ partial "scripts.html" . }}
</body>

</html>